$navy_blue: #1E1A34;
$yellow_dark: #ff9900;
$yellow_main: #FFBB58;
$yellow_light: #FFE081;
$yellow_lightest: #FFF8E1;
$dark_gray: #B2B8BD;
$gray: #E2E2E2;
$light_gray: #F0F0F2;
$transition: 0.3s ease;
$off_white: white;
$red: #ff5151;
$green: #2dcc70;